<app-weapon-selector *ngIf="combatUnit" [priceable]="combatUnit" (askAddWeapon)="addWeapon($event)" enableAdd=true
  enableEdit=false>
</app-weapon-selector>
<app-template-full-width *ngIf="combatUnit" class="card">
  <div class="tr-title" i18n="@@Label.SelectedWeapons">Selected weapons</div>
  <div class="tr-content card">
    <div *ngFor="let weapon of onWeaponsChanged.value" class="row">
      <app-view-weapon [weapon]="weapon" [combatUnit]="combatUnit" class="weapon"></app-view-weapon>
      <button type="button" mat-mini-fab (click)="removeWeapon(weapon)" color="warn" class="icon">
        <app-icon-delete></app-icon-delete>
      </button>
    </div>
  </div>
</app-template-full-width>