.card {
  width: fit-content;
}

.header {
  text-align: center;
  font-weight: bold;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.weapon {
  float: left;
  height: 100%;
  vertical-align: center;
  text-align: center;
}

.icon {
  float: right;
  margin: 2px;
}
