<mat-card>
  <mat-card-title>Edition : {{unit.name}}/{{enumUtils.tacticalRoleToString(unit.tacticalRole)}}</mat-card-title>
  <mat-card-content>
  <!--span class="unit-title">Image : </span>
    <input type="file" [(ngModel)]="unit.img" /><br-->

  <mat-form-field class="unit-full-width">
    <mat-label>Nom</mat-label>
    <input matInput [(ngModel)]="unit.name" placeholder="Nom"/>
  </mat-form-field><br>

  <mat-form-field class="unit-full-width">
    <mat-label>Description</mat-label>
    <input matInput [(ngModel)]="unit.desc" placeholder="Description"/>
  </mat-form-field><br>

  <mat-form-field>
    <mat-label>Dé Qualité Martial (DQM)</mat-label>
    <mat-select  *ngIf="unit.tacticalRole != TacticalRole.Civilian; else showDQM" [(ngModel)]="unit.dqm" (ngModelChange)='logUnit()'>
      <mat-option *ngFor="let dice of dices" [value]="dice.value">{{dice.key}}</mat-option>
    </mat-select>
    <ng-template #showDQM>
      <input matInput placeholder="DQM" [value]="enumUtils.diceToString(unit.dqm)" disabled/>
    </ng-template>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Dé Combat (DC)</mat-label>
    <mat-select *ngIf="unit.tacticalRole != TacticalRole.Civilian; else showDC" [(ngModel)]="unit.dc">
      <mat-option *ngFor="let dice of dices" [value]="dice.value">{{dice.key}}</mat-option>
    </mat-select>
    <ng-template #showDC>
      <input matInput placeholder="DC" [value]="enumUtils.diceToString(unit.dc)" disabled/>
    </ng-template>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Nombre de point de vie</mat-label>
    <input matInput type="number" min="1" max="5" [(ngModel)]="unit.pv" placeholder="PV"/>
  </mat-form-field><br>

  <mat-form-field>
    <mat-label>Type d’unité</mat-label>
    <mat-select [(ngModel)]="unit.unitType">
      <mat-option *ngFor="let unitType of unitTypes" [value]="unitType.value">{{unitType.key}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Type de figurine</mat-label>
    <mat-select [(ngModel)]="unit.size">
      <mat-option *ngFor="let unitSize of unitSizes" [value]="unitSize.value">{{unitSize.key}}</mat-option>
    </mat-select>
  </mat-form-field><br>

  <mat-form-field>
    <mat-label>Type de mouvement</mat-label>
    <mat-select [(ngModel)]="unit.moveType">
      <mat-option *ngFor="let moveType of moveTypes" [value]="moveType.value">{{moveType.key}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Mouvement tactique</mat-label>
    <input matInput type="number" min="0" max="100" [(ngModel)]="unit.tacticalMove" placeholder="Mouvement"/>
  </mat-form-field><br>

  <mat-form-field>
    <mat-label>Rôle tactique</mat-label>
    <mat-select [(ngModel)]="unit.tacticalRole" (ngModelChange)='onChangeTacticalRole()'>
      <mat-option *ngFor="let tacticalRole of tacticalRoles" [value]="tacticalRole.value">{{tacticalRole.key}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="unit.tacticalRole == TacticalRole.Mage">
    <mat-label>Niveau de Mage</mat-label>
    <input matInput type="number" min="1" max="3" [(ngModel)]="unit.mageLevel" placeholder="Level"/>
  </mat-form-field>
</mat-card-content>
 
</mat-card>
<app-weapon-selector [unit]="unit" enableAdd=true></app-weapon-selector>
<app-armor-selector [unit]="unit"></app-armor-selector>
<mat-card>
  <mat-card-title>Résultat</mat-card-title>
  <mat-card-content>
    <app-view-unit [unit]="unit" [showPdfButton]=true></app-view-unit>
  </mat-card-content>
</mat-card>
