<app-template-full-width>
    <span class="tr-title">Armées</span>
    <div class="tr-content">
        <table mat-table [dataSource]="dataSourceArmies">
            <caption></caption>
            <ng-container matColumnDef="army">
                <th mat-header-cell *matHeaderCellDef scope="col">{{ 'Label.Army' | translate }}</th>
                <td mat-cell *matCellDef="let army">{{army.name}}</td>
            </ng-container>

            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef scope="col">{{ 'Label.UnitPrice' | translate }}</th>
                <td mat-cell *matCellDef="let army">{{army | priceArmy | async | number}}</td>
            </ng-container>

            <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef scope="col"></th>
                <td mat-cell *matCellDef="let army"><a mat-raised-button routerLink="/editArmy/{{army.id}}"
>{{ 'Label.Edit' | translate }}</a>
                </td>
            </ng-container>

            <ng-container matColumnDef="remove">
                <th mat-header-cell *matHeaderCellDef scope="col"></th>
                <td mat-cell *matCellDef="let army"><button mat-mini-fab (click)="remove(army)" color="warn">
                        <app-icon-delete></app-icon-delete>
                    </button></td>
            </ng-container>

            <ng-container matColumnDef="view">
                <th mat-header-cell *matHeaderCellDef scope="col"></th>
                <td mat-cell *matCellDef="let army"><a mat-raised-button routerLink="/viewArmy/{{army.id}}"
>{{ 'Label.See' | translate }}</a>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
    </div>
    <div class="tr-actions">
        <a mat-raised-button routerLink="/editArmy">{{ 'Label.AddNewArmy' | translate }}</a>
    </div>
</app-template-full-width>