<mat-card class="weapon-form">
  <mat-card-title>Edit {{weapon.name}} {{weapon.range}}’’ {{weapon.power}}D<span *ngIf="weapon.superPower">++</span><span *ngIf="weapon.superSuperPower">[++</span></mat-card-title>

  <mat-card-content>
    <mat-form-field>
      <mat-label>Type</mat-label>
      <mat-select [(ngModel)]="weapon.weaponType" (ngModelChange)='onChangecurrentWeaponType()'>
        <mat-option  *ngFor="let weaponType of weaponTypes" [value]="weaponType.value">{{weaponType.key}}</mat-option>
      </mat-select>
    </mat-form-field><br>

    <mat-form-field class="weapon-full-width">
      <mat-label>Nom</mat-label>
      <input matInput [(ngModel)]="weapon.name" placeholder="Nom"/>
    </mat-form-field><br>
      
    <mat-form-field *ngIf="weapon.weaponType != WeaponType.Melee">
      <mat-label>Portée</mat-label>
      <input matInput type="number" min="0" max="100" [(ngModel)]="weapon.range" placeholder="Portée"/>
    </mat-form-field>

    <mat-form-field *ngIf="weapon.weaponType == WeaponType.Explosive">
      <mat-label>Portée minimum</mat-label>
      <input matInput type="number" min="0" [max]="weapon.range" [(ngModel)]="weapon.rangeMin" placeholder="Portée minimum"/>
    </mat-form-field><br>
      
    <mat-form-field>
      <mat-label>Puissance</mat-label>
      <input matInput type="number" min="1" max="3" [(ngModel)]="weapon.power" placeholder="Puissance"/>
    </mat-form-field>

    <mat-checkbox [(ngModel)]="weapon.superPower">Super puissance</mat-checkbox><br>

    <mat-form-field>
      <mat-label>Règle</mat-label>
      <input type="text" matInput [formControl]="rulesControl" [matAutocomplete]="auto" placeholder="Choisisser une règle">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let rule of rules | async" [value]="rule">{{rule}}</mat-option>
      </mat-autocomplete>
    </mat-form-field><br>

    <mat-checkbox *ngIf="weapon.weaponType != WeaponType.Melee" [(ngModel)]="weapon.assault">Assaut</mat-checkbox>
    <mat-checkbox *ngIf="weapon.weaponType != WeaponType.Melee" [(ngModel)]="weapon.heavy">Lourd</mat-checkbox>
    <mat-checkbox *ngIf="weapon.weaponType != WeaponType.Melee" [(ngModel)]="weapon.cover">Couverture</mat-checkbox><br>

    <mat-form-field *ngIf="weapon.weaponType == WeaponType.Explosive || weapon.weaponType == WeaponType.Grenade">
      <mat-label>Gabarit</mat-label>
      <mat-select [(ngModel)]="weapon.size">
        <mat-option  *ngFor="let weaponSize of weaponSizes" [value]="weaponSize.value">{{weaponSize.key}}</mat-option>
      </mat-select>
    </mat-form-field><br>
    
    <mat-checkbox [(ngModel)]="weapon.nonLethal">Mon mortelle</mat-checkbox>

  </mat-card-content>
    <button mat-raised-button (click)="saveWeapon()">Save</button>
  <mat-card-actions>

  </mat-card-actions>
</mat-card>
