<form [formGroup]="form" (ngSubmit)="submit()">
    <app-template-full-width *ngIf="weapon">
        <span class="tr-title">{{ 'Label.Edit' | translate }}{{ 'Label.DbDot' | translate }}
            {{form.controls.name.value}}</span>
        <div class="tr-content">

            <mat-form-field>
                <mat-label for="weaponType">{{ 'Label.Type' | translate }}</mat-label>
                <mat-select formControlName="weaponType">
                    <mat-option *ngFor="let weaponType of weaponTypes | async" [value]="weaponType.value">
                        {{weaponType.key}}
                    </mat-option>
                </mat-select>
            </mat-form-field><br>

            <mat-form-field class="weapon-full-width">
                <mat-label for="name">{{ 'Label.Name' | translate }}</mat-label>
                <input matInput formControlName="name" placeholder="{{ 'Label.Name' | translate }}" />
            </mat-form-field><br>

            <mat-form-field *ngIf="form.controls.weaponType.value != WeaponType.Melee">
                <mat-label for="range">{{ 'Label.Range' | translate }}</mat-label>
                <input matInput type="number" min="0" max="100" formControlName="range" placeholder="Portée" />
            </mat-form-field>

            <mat-form-field *ngIf="form.controls.weaponType.value == WeaponType.Explosive">
                <mat-label for="rangeMin">{{ 'Label.MinimumRange' | translate }}</mat-label>
                <input matInput type="number" min="0" [max]="form.controls.range.value" formControlName="rangeMin"
                    placeholder="Portée minimum" />
            </mat-form-field><br>

            <mat-form-field>
                <mat-label for="power">{{ 'Label.Power' | translate }}</mat-label>
                <input matInput type="number" min="1" max="3" formControlName="power"
                    placeholder="{{ 'Label.Power' | translate }}" />
            </mat-form-field>

            <mat-checkbox formControlName="superPower">{{ 'Label.SuperPower' | translate }}</mat-checkbox><br>

            <mat-form-field>
                <mat-label>{{ 'Label.SpecialRules' | translate }}</mat-label>
                <input matInput type="text" placeholder="{{ 'Label.ChooseARule' | translate }}"
                    [formControl]="rulesControl" [matAutocomplete]="auto" [(ngModel)]="currentRule"
                    (keyup.enter)="addRule()">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let rule of rulesFilteredOptions | async" [value]="rule">{{rule}}</mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <button mat-raised-button (click)="addRule()" type="button">{{ 'Label.AddARule' | translate }}</button>

            <div class="rules">
                <div class="rulerow" *ngFor="let rule of form.controls.rule.value">
                    <span class="rule">{{rule}}</span>
                    <button mat-mini-fab (click)="removeRule(rule)" color="warn" class="ruleicon">
                        <app-icon-delete></app-icon-delete>
                    </button>
                </div>
            </div>

            <div>
                <mat-checkbox *ngIf="form.controls.weaponType.value != WeaponType.Melee" formControlName="assault">
                    {{ 'Label.Assault' | translate }}
                </mat-checkbox>
                &nbsp;
                <mat-checkbox *ngIf="form.controls.weaponType.value != WeaponType.Melee" formControlName="heavy">
                    {{ 'Label.Heavy' | translate }}
                </mat-checkbox>
                &nbsp;
                <mat-checkbox *ngIf="form.controls.weaponType.value != WeaponType.Melee" formControlName="cover">
                    {{ 'Label.Cover' | translate }}
                </mat-checkbox>
            </div>

            <mat-form-field
                *ngIf="form.controls.weaponType.value == WeaponType.Explosive || form.controls.weaponType.value == WeaponType.Grenade">
                <mat-label for="size">{{ 'Label.ExplosiveWeaponSize' | translate }}</mat-label>
                <mat-select formControlName="size">
                    <mat-option *ngFor="let weaponSize of weaponSizes | async" [value]="weaponSize.value">
                        {{weaponSize.key}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <div>
                <mat-checkbox formControlName="nonLethal">{{ 'Label.NonLethal' | translate }}</mat-checkbox>
            </div>
        </div>
        <div class="tr-actions">
            <button mat-raised-button type="submit" [disabled]="form.invalid">{{ 'Label.Validate' | translate
                }}</button>
            <button mat-raised-button type="button" (click)="cancel()">{{ 'Label.Cancel' | translate }}</button>
        </div>
    </app-template-full-width>
</form>