<app-template-dialog>
    <span *ngIf="data.title" class="tr-title">{{data.title}}</span>
    <div class="tr-content" *ngIf="data.rules">
        <div *ngFor="let rule of data.rules">
            <mat-checkbox (change)="ruleSelection(rule, $event.checked)">{{rule}}
            </mat-checkbox>
        </div>
    </div>
    <div class="tr-actions">
        <button mat-raised-button mat-button (click)="close()">{{ 'Label.Cancel' | translate }}</button>
        <button mat-raised-button [mat-dialog-close]="rules" cdkFocusInitial>{{ 'Label.Ok' | translate }}</button>
    </div>
</app-template-dialog>