<form *ngIf="army" [formGroup]="form" (ngSubmit)="submit()">
    <app-template-full-width>
        <div class="tr-content">
            <app-template-full-width>
                <span class="tr-title">{{ 'Label.Edit' | translate }}{{ 'Label.DbDot' | translate }}
                    {{form.controls.name.value}}</span>
                <div class="tr-content">
                    <mat-form-field class="army-full-width">
                        <mat-label for="name">{{ 'Label.Name' | translate }}</mat-label>
                        <input matInput formControlName="name" placeholder="{{ 'Label.Name' | translate }}" />
                    </mat-form-field>
                    <mat-form-field class="army-full-width">
                        <mat-label for="desc">{{ 'Label.Description' | translate }}</mat-label>
                        <textarea matInput formControlName="desc" placeholder="{{ 'Label.Description' | translate }}"></textarea>
                    </mat-form-field><br>
                </div>
            </app-template-full-width>
            <app-list-units [army]="army" (onLinksChange)="form.controls.units.setValue($event)">
            </app-list-units>
            <app-list-vehicles [army]="army" (onLinksChange)="form.controls.vehicles.setValue($event)">
            </app-list-vehicles>
        </div>
        <div class="tr-actions">
            <button mat-raised-button type="submit" [disabled]="form.invalid">{{ 'Label.Validate' | translate }}</button>
            <button mat-raised-button type="button" (click)="cancel()">{{ 'Label.Cancel' | translate }}</button>
        </div>
    </app-template-full-width>
</form>