<form *ngIf="army" [formGroup]="form" (ngSubmit)="submit()">
    <app-template-full-width>
        <div class="tr-content">
            <app-template-full-width>
                <span class="tr-title">Edition : {{form.controls.name.value}}</span>
                <div class="tr-content">
                    <mat-form-field class="army-full-width">
                        <mat-label for="name">Nom</mat-label>
                        <input matInput formControlName="name" placeholder="Nom" />
                    </mat-form-field>
                    <mat-form-field class="army-full-width">
                        <mat-label for="desc">Description</mat-label>
                        <textarea matInput formControlName="desc" placeholder="Description"></textarea>
                    </mat-form-field><br>
                </div>
            </app-template-full-width>
            <app-list-units [army]="army" (onLinksChange)="form.controls.units.setValue($event)">
            </app-list-units>
            <app-list-vehicles [army]="army" (onLinksChange)="form.controls.vehicles.setValue($event)">
            </app-list-vehicles>
        </div>
        <div class="tr-actions">
            <button mat-raised-button type="submit">Valider</button>
            <button mat-raised-button type="button" (click)="cancel()">Annuler</button>
        </div>
    </app-template-full-width>
</form>