<form [formGroup]="form" (ngSubmit)="submit()">
    <app-template-full-width *ngIf="unit">
        <div class="tr-content">
            <app-template-full-width>
                <span class="tr-title">Edition : {{form.controls.name.value}}/{{form.controls.tacticalRole.value|
                    tacticalRoleToString}}</span>
                <div class="tr-content">
                    <mat-form-field class="unit-full-width">
                        <mat-label for="faction">Camps</mat-label>
                        <input matInput type="text" formControlName="faction" [formControl]="factionsControl"
                            [matAutocomplete]="auto" placeholder="Camps" />
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let faction of factionsFilteredOptions | async" [value]="faction">
                                {{faction}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field><br>

                    <mat-form-field class="unit-full-width">
                        <mat-label for="name">Nom</mat-label>
                        <input matInput formControlName="name" placeholder="Nom" />
                    </mat-form-field><br>

                    <mat-form-field class="unit-full-width">
                        <mat-label for="desc">Description</mat-label>
                        <textarea matInput formControlName="desc" placeholder="Description"></textarea>
                    </mat-form-field><br>

                    <app-edit-image [imageContainer]="unit"
                        (onImageBase64Change)="form.controls.imgBase64.setValue($event)"></app-edit-image><br>

                    <mat-form-field>
                        <mat-label for="dqm">Dé Qualité Martial (DQM)</mat-label>
                        <mat-select *ngIf="form.controls.tacticalRole.value != TacticalRole.Civilian; else showDQM"
                            formControlName="dqm">
                            <mat-option *ngFor="let dice of dices" [value]="dice.value">{{dice.key}}</mat-option>
                        </mat-select>
                        <ng-template #showDQM>
                            <input matInput placeholder="DQM" [value]="form.controls.dqm.value | diceToString"
                                disabled />
                        </ng-template>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label for="dc">Dé Combat (DC)</mat-label>
                        <mat-select *ngIf="form.controls.tacticalRole.value != TacticalRole.Civilian; else showDC"
                            formControlName="dc">
                            <mat-option *ngFor="let dice of dices" [value]="dice.value">{{dice.key}}</mat-option>
                        </mat-select>
                        <ng-template #showDC>
                            <input matInput placeholder="DC" [value]="form.controls.dc.value | diceToString" disabled />
                        </ng-template>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label for="pv">Nombre de point de vie</mat-label>
                        <input matInput type="number" min="1" max="5" formControlName="pv" placeholder="PV" />
                    </mat-form-field><br>

                    <mat-form-field>
                        <mat-label for="unitType">Type d’unité</mat-label>
                        <mat-select formControlName="unitType">
                            <mat-option *ngFor="let unitType of unitTypes" [value]="unitType.value">{{unitType.key}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label for="size">Type de figurine</mat-label>
                        <mat-select formControlName="size">
                            <mat-option *ngFor="let unitSize of unitSizes" [value]="unitSize.value">{{unitSize.key}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field><br>

                    <mat-form-field>
                        <mat-label for="moveType">Type de mouvement</mat-label>
                        <mat-select formControlName="moveType">
                            <mat-option *ngFor="let moveType of moveTypes" [value]="moveType.value">{{moveType.key}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label for="tacticalMove">Mouvement tactique</mat-label>
                        <input matInput type="number" min="0" max="100" formControlName="tacticalMove"
                            placeholder="Mouvement" />
                    </mat-form-field><br>

                    <mat-form-field>
                        <mat-label for="tacticalRole">Rôle tactique</mat-label>
                        <mat-select formControlName="tacticalRole" (ngModelChange)='onChangeTacticalRole()'>
                            <mat-option *ngFor="let tacticalRole of tacticalRoles" [value]="tacticalRole.value">
                                {{tacticalRole.key}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field *ngIf="unit.tacticalRole == TacticalRole.Mage">
                        <mat-label for="mageLevel">Niveau de Mage</mat-label>
                        <input matInput type="number" min="1" max="3" formControlName="mageLevel" placeholder="Level" />
                    </mat-form-field>
                </div>
                <div class="tr-actions"></div>
            </app-template-full-width>

            <app-edit-weapons-list [combatUnit]="unit" (onWeaponsChanged)="form.controls.weapons.setValue($event)">
            </app-edit-weapons-list>

            <app-armor-selector [unit]="unit" (onArmorSelectionChange)="form.controls.armor.setValue($event)">
            </app-armor-selector>
        </div>

        <div class="tr-actions">
            <button mat-raised-button type="submit">Valider</button>
            <button mat-raised-button type="button" (click)="cancel()">Annuler</button>
        </div>
    </app-template-full-width>
</form>