<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
    <mat-icon>more_vert</mat-icon>
</button>

<mat-menu #menu="matMenu">
    <a mat-menu-item routerLink="/units"><span class="nav-caption">Unités</span></a>
    <a mat-menu-item routerLink="/editUnit"><span class="nav-caption">Nouvelle unitée</span></a>
    <a mat-menu-item routerLink="/editVehicle"><span class="nav-caption">Nouveau véhicule</span></a>
    <a mat-menu-item routerLink="/weapons"><span class="nav-caption">Armes</span></a>
    <a mat-menu-item routerLink="/editWeapon"><span class="nav-caption">Nouvelle arme</span></a>
</mat-menu>

<router-outlet></router-outlet>