<app-view-imaged [imageContainer]="vehicle" [pdfName]="vehicle.name">
    <p style="margin:0px"><span class="vehicle-title">{{vehicle.name}} /
            {{vehicle.type | vehicleTypeToString}}</span><span *ngIf="vehicle.faction">
            ({{vehicle.faction}})</span>
        <span *ngIf="vehicleCount" class="vehicle-number"><span class="vehicle-title"> Nbr :</span>
            {{vehicleCount}}</span>
    </p>
    <p style="margin:0px"><span class="vehicle-title">Type de mouvement :</span>
        {{ vehicle.moveType | moveTypeToString}}</p>
    <p style="margin:0px"><span class="vehicle-title">Mouvement :</span> {{vehicle.tacticalMove}}’’ /
        {{vehicleService.getRunMove(vehicle)}}’’</p>
    <p style="margin:0px" *ngIf="vehicle.type == VehicleType.TroopTransport"><span class="vehicle-title">Place
            disponible
            pour le transport :</span> {{vehicle.transportSpace}}</p>
    <p style="margin:0px"><span class="vehicle-title">Blindage :</span>{{vehicle.armor | diceToString}} <span
            class="vehicle-title"> / PS :</span> {{vehicle.structure}}</p>
    <p style="margin:0px"><span class="vehicle-title">Prix :</span> {{vehicle | priceCombatUnit}}</p>
    <app-view-weapons [combatUnit]="vehicle"></app-view-weapons>
</app-view-imaged>
<app-show-pdf *ngIf="showPdf && pdfContext" [pdfDrawContext]="pdfContext" pdfName="{{vehicle.name}}.pdf"></app-show-pdf>