<div *ngIf="army" #armyCard>
    <h1>{{army.name}} (<span i18n="@@Label.UnitPrice">Price</span><span i18n="@@Label.DbDot">:</span> {{army | priceArmy
        | async}})</h1>
    <div *ngFor="let unit of units" class="army-div">
        <app-view-unit [unit]="unit" [unitCount]="unitsCount[unit.id]"></app-view-unit>
    </div>
    <div *ngFor="let vehicle of vehicles" class="army-div">
        <app-view-vehicle [vehicle]="vehicle" [vehicleCount]="vehiclesCount[vehicle.id]"></app-view-vehicle>
    </div>
</div>
<app-show-pdf [pdfDrawContext]="pdfDrawContext" pdfName="{{army.name}}.pdf"></app-show-pdf>