<app-template-full-width>
  <span class="tr-title">Armes</span>
  <div class="tr-content">
    <mat-form-field>
      <mat-label>{{ 'Label.Type' | translate }}</mat-label>
      <mat-select [(ngModel)]="currentWeaponType" (ngModelChange)="onChangecurrentWeaponType()">
        <mat-option *ngFor="let weaponType of weaponTypes | async" [value]="weaponType.value">{{ weaponType.key }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{ 'Label.NameFilter' | translate }}</mat-label>
      <input matInput [(ngModel)]="nameFilter" placeholder="{{ 'Label.Name' | translate }}"
        (ngModelChange)="onChangeFilter()" />
    </mat-form-field>

    <table mat-table [dataSource]="dataSourceWeapons" class="weapons">
      <caption></caption>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef scope="col">{{ 'Label.Type' | translate }}</th>
        <td mat-cell *matCellDef="let weapon">{{ weapon.name }}</td>
      </ng-container>

      <ng-container matColumnDef="range">
        <th mat-header-cell *matHeaderCellDef scope="col">{{ 'Label.RangeInch' | translate }}</th>
        <td mat-cell *matCellDef="let weapon">
          <span *ngIf="weapon.range; else NArange">
            <span *ngIf="weapon.rangeMin">+{{ weapon.rangeMin }}'' {{ 'Label.RangeTo' | translate }} </span>{{
            weapon.range }}''
          </span>
          <ng-template #NArange>{{ 'Label.NA' | translate }}</ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="power">
        <th mat-header-cell *matHeaderCellDef scope="col">{{ 'Label.Power' | translate }}</th>
        <td mat-cell *matCellDef="let weapon">
          <span *ngIf="weapon.power; else NApower">{{ weapon.power }}D<span *ngIf="weapon.superPower">++</span><span
              *ngIf="weapon.superSuperPower">[++</span></span>
          <ng-template #NApower>{{ 'Label.NA' | translate }}</ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="rules">
        <th mat-header-cell *matHeaderCellDef scope="col">{{ 'Label.SpecialRules' | translate }}</th>
        <td mat-cell *matCellDef="let weapon">{{ weapon | weaponRulesToString : false | async}}</td>
      </ng-container>

      <ng-container matColumnDef="size">
        <th mat-header-cell *matHeaderCellDef scope="col">{{ 'Label.ExplosiveWeaponSize' | translate }}</th>
        <td mat-cell *matCellDef="let weapon">
          {{ weapon.size | explosiveWeaponSizeToString | async }}
        </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef scope="col">{{ 'Label.UnitPrice' | translate }}</th>
        <td mat-cell *matCellDef="let weapon">
          {{ weapon | priceWeapon : priceable | number }}
        </td>
      </ng-container>

      <ng-container matColumnDef="actionAdd">
        <th mat-header-cell *matHeaderCellDef scope="col"></th>
        <td mat-cell *matCellDef="let weapon">
          <button type="button" mat-raised-button (click)="addWeapon(weapon)">{{ 'Label.Use' | translate }}</button>
        </td>
      </ng-container>

      <ng-container matColumnDef="actionEdit">
        <th mat-header-cell *matHeaderCellDef scope="col"></th>
        <td mat-cell *matCellDef="let weapon">
          <a mat-raised-button *ngIf="weapon.editable" routerLink="/weapons/edit/{{ weapon.id }}">{{ 'Label.Edit' |
            translate }}</a>
          <button type="button" mat-mini-fab *ngIf="weapon.editable" (click)="removeWeapon(weapon)" color="warn">
            <app-icon-delete></app-icon-delete>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
  </div>
  <div class="tr-actions">
    <a mat-raised-button *ngIf="enableEdit" routerLink="/weapons/edit">{{ 'Label.AddNewWeapon' | translate }}</a>
  </div>
</app-template-full-width>