<form [formGroup]="form" (ngSubmit)="submit()">
    <app-template-full-width *ngIf="vehicle">
        <div class="tr-content">
            <app-template-full-width>
                <span class="tr-title">{{ 'Label.Edit' | translate }}{{ 'Label.DbDot' | translate }}
                    {{form.controls.name.value}}/{{form.controls.type.value |
                    vehicleTypeToString | async}}</span>
                <div class="tr-content">

                    <mat-form-field class="vehicle-full-width">
                        <mat-label for="faction">{{ 'Label.Faction' | translate }}</mat-label>
                        <input matInput type="text" formControlName="faction" [formControl]="factionsControl"
                            [matAutocomplete]="auto" placeholder="Camps" />
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let faction of factionsFilteredOptions | async" [value]="faction">
                                {{faction}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field><br>

                    <mat-form-field class="vehicle-full-width">
                        <mat-label for="name">{{ 'Label.Name' | translate }}</mat-label>
                        <input matInput formControlName="name" placeholder="{{ 'Label.Name' | translate }}" />
                    </mat-form-field><br>

                    <app-edit-image [imageContainer]="vehicle"
                        (onImageBase64Change)="form.controls.imgBase64.setValue($event)"></app-edit-image><br>

                    <mat-form-field>
                        <mat-label for="type">{{ 'Label.VehicleType' | translate }}</mat-label>
                        <mat-select formControlName="type">
                            <mat-option *ngFor="let type of vehicleType | async" [value]="type.value">{{type.key}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field><br>

                    <mat-form-field>
                        <mat-label for="moveType">{{ 'Label.MoveType' | translate }}</mat-label>
                        <mat-select formControlName="moveType">
                            <mat-option *ngFor="let moveType of moveTypes | async" [value]="moveType.value">
                                {{moveType.key}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label for="tacticalMove">{{ 'Label.TacticalMove' | translate }}</mat-label>
                        <input matInput type="number" min="0" max="100" formControlName="tacticalMove"
                            placeholder="{{ 'Label.Move' | translate }}" />
                    </mat-form-field><br>

                    <mat-form-field>
                        <mat-label for="structure">{{ 'Label.StructurePoint' | translate }}</mat-label>
                        <input matInput type="number" min="1" max="10" formControlName="structure"
                            placeholder="{{ 'Label.Structure' | translate }}" />
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label for="armor">{{ 'Label.ArmorType' | translate }}</mat-label>
                        <mat-select formControlName="armor">
                            <mat-option *ngFor="let dice of dices" [value]="dice.value">{{dice.key}}</mat-option>
                        </mat-select>
                    </mat-form-field><br>

                    <mat-form-field>
                        <mat-label for="crew">{{ 'Label.Crew' | translate }}</mat-label>
                        <input matInput type="number" min="1" max="6" formControlName="crew"
                            placeholder="{{ 'Label.Crew' | translate }}" />
                    </mat-form-field>

                    <mat-form-field *ngIf="form.controls.type.value == VehicleType.TroopTransport">
                        <mat-label for="transportSpace">{{ 'Label.TransportSpace' | translate }}
                        </mat-label>
                        <input matInput type="number" min="1" max="500" formControlName="transportSpace"
                            placeholder="{{ 'Label.TransportSpots' | translate }}" />
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label for="dc">{{ 'Label.Long.DC' | translate }}</mat-label>
                        <mat-select formControlName="dc">
                            <mat-option *ngFor="let dice of dices" [value]="dice.value">{{dice.key}}</mat-option>
                        </mat-select>
                    </mat-form-field><br>

                </div>
                <div class="tr-actions"></div>
            </app-template-full-width>

            <app-edit-weapons-list [combatUnit]="vehicle" (onWeaponsChanged)="form.controls.weapons.setValue($event)">
            </app-edit-weapons-list>

        </div>
        <div class="tr-actions">
            <button mat-raised-button type="submit" [disabled]="form.invalid">{{ 'Label.Validate' | translate
                }}</button>
            <button mat-raised-button type="button" (click)="cancel()">{{ 'Label.Cancel' | translate }}</button>
        </div>
    </app-template-full-width>
</form>