<form [formGroup]="form" (ngSubmit)="submit()">
    <app-template-full-width *ngIf="vehicle">
        <div class="tr-content">
            <app-template-full-width>
                <span class="tr-title">Edition : {{form.controls.name.value}}/{{form.controls.type.value |
                    vehicleTypeToString}}</span>
                <div class="tr-content">

                    <mat-form-field class="vehicle-full-width">
                        <mat-label for="faction">Camps</mat-label>
                        <input matInput type="text" formControlName="faction" [formControl]="factionsControl"
                            [matAutocomplete]="auto" placeholder="Camps" />
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let faction of factionsFilteredOptions | async" [value]="faction">
                                {{faction}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field><br>

                    <mat-form-field class="vehicle-full-width">
                        <mat-label for="name">Nom</mat-label>
                        <input matInput formControlName="name" placeholder="Nom" />
                    </mat-form-field><br>

                    <app-edit-image [imageContainer]="vehicle"
                        (onImageBase64Change)="form.controls.imgBase64.setValue($event)"></app-edit-image><br>

                    <mat-form-field>
                        <mat-label for="type">Type de véhicule</mat-label>
                        <mat-select formControlName="type">
                            <mat-option *ngFor="let type of vehicleType" [value]="type.value">{{type.key}}</mat-option>
                        </mat-select>
                    </mat-form-field><br>

                    <mat-form-field>
                        <mat-label for="moveType">Type de mouvement</mat-label>
                        <mat-select formControlName="moveType">
                            <mat-option *ngFor="let moveType of moveTypes" [value]="moveType.value">{{moveType.key}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label for="tacticalMove">Mouvement tactique</mat-label>
                        <input matInput type="number" min="0" max="100" formControlName="tacticalMove"
                            placeholder="Mouvement" />
                    </mat-form-field><br>

                    <mat-form-field>
                        <mat-label for="structure">Point de structure</mat-label>
                        <input matInput type="number" min="1" max="10" formControlName="structure"
                            placeholder="Structure" />
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label for="armor">Type de blindage</mat-label>
                        <mat-select formControlName="armor">
                            <mat-option *ngFor="let dice of dices" [value]="dice.value">{{dice.key}}</mat-option>
                        </mat-select>
                    </mat-form-field><br>

                    <mat-form-field>
                        <mat-label for="crew">Équipage</mat-label>
                        <input matInput type="number" min="1" max="6" formControlName="crew" placeholder="Équipage" />
                    </mat-form-field>

                    <mat-form-field *ngIf="form.controls.type.value == VehicleType.TroopTransport">
                        <mat-label for="transportSpace">Nombre de places de transport</mat-label>
                        <input matInput type="number" min="1" max="500" formControlName="transportSpace"
                            placeholder="Places" />
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label for="dc">Dé Combat (DC)</mat-label>
                        <mat-select formControlName="dc">
                            <mat-option *ngFor="let dice of dices" [value]="dice.value">{{dice.key}}</mat-option>
                        </mat-select>
                    </mat-form-field><br>

                </div>
                <div class="tr-actions"></div>
            </app-template-full-width>

            <app-edit-weapons-list [combatUnit]="vehicle" (onWeaponsChanged)="form.controls.weapons.setValue($event)">
            </app-edit-weapons-list>

        </div>
        <div class="tr-actions">
            <button mat-raised-button type="submit">Valider</button>
            <button mat-raised-button type="button" (click)="cancel()">Annuler</button>
        </div>
    </app-template-full-width>
</form>