<mat-card>
  <mat-card-content>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Edition : {{vehicle.name}}/{{enumUtils.vehicleTypeToString(vehicle.type)}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>

        <mat-form-field class="vehicle-full-width">
          <mat-label>Nom</mat-label>
          <input matInput [(ngModel)]="vehicle.name" placeholder="Nom" />
        </mat-form-field><br>

        <app-edit-image [imageContainer]="vehicle"></app-edit-image><br>

        <mat-form-field>
          <mat-label>Type de véhicule</mat-label>
          <mat-select [(ngModel)]="vehicle.type">
            <mat-option *ngFor="let type of vehicleType" [value]="type.value">{{type.key}}</mat-option>
          </mat-select>
        </mat-form-field><br>

        <mat-form-field>
          <mat-label>Type de mouvement</mat-label>
          <mat-select [(ngModel)]="vehicle.moveType">
            <mat-option *ngFor="let moveType of moveTypes" [value]="moveType.value">{{moveType.key}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Mouvement tactique</mat-label>
          <input matInput type="number" min="0" max="100" [(ngModel)]="vehicle.tacticalMove" placeholder="Mouvement" />
        </mat-form-field><br>

        <mat-form-field>
          <mat-label>Point de structure</mat-label>
          <input matInput type="number" min="1" max="10" [(ngModel)]="vehicle.structure" placeholder="Structure" />
        </mat-form-field>
        
        <mat-form-field>
          <mat-label>Type de blindage</mat-label>
          <mat-select [(ngModel)]="vehicle.armor">
            <mat-option *ngFor="let dice of dices" [value]="dice.value">{{dice.key}}</mat-option>
          </mat-select>
        </mat-form-field><br>

        <mat-form-field>
          <mat-label>Équipage</mat-label>
          <input matInput type="number" min="1" max="6" [(ngModel)]="vehicle.crew" placeholder="Équipage" />
        </mat-form-field>

        <mat-form-field *ngIf="vehicle.type == VehicleType.TroopTransport">
          <mat-label>Nombre de places de transport</mat-label>
          <input matInput type="number" min="1" max="500" [(ngModel)]="vehicle.transportSpace" placeholder="Places" />
        </mat-form-field><br>

      </mat-card-content>
    </mat-card>
    <app-view-vehicle [vehicle]="vehicle" showPdfButton=true></app-view-vehicle>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="save()">Save</button>
    <button mat-raised-button (click)="goBack()">Back</button>
  </mat-card-actions>
</mat-card>