<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
    <app-icon-nav>menu</app-icon-nav>
</button>

<mat-menu #menu="matMenu">
    <a mat-menu-item routerLink="/armies"><span class="nav-caption">Armées</span></a>
    <a mat-menu-item routerLink="/units"><span class="nav-caption">Unités</span></a>
    <a mat-menu-item routerLink="/vehicles"><span class="nav-caption">Véhicules</span></a>
    <a mat-menu-item routerLink="/weapons"><span class="nav-caption">Armes</span></a>
    <a mat-menu-item routerLink="/manageMemory"><span class="nav-caption">Gérer la mémoire</span></a>
</mat-menu>